name: deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt install imagemagick
        wget http://lilypond.org/download/binaries/linux-64/lilypond-2.20.0-1.linux-64.sh
        sh lilypond-2.20.0-1.linux-64.sh --batch
        rm lilypond-2.20.0-1.linux-64.sh

    - name: Set up python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        pip install -r requirements.txt

    - name: Build
      run: |
        make
        make tar
      env:
        LILYPOND: $(HOME)/bin/lilypond

    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}

    - name: Copy assets to the server
      run: |
        rsync -avz scores.tar.gz ${{ secrets.USER }}@${{ secrets.HOST }}:/home/${{ secrets.USER }}/
        ssh ${{ secrets.USER }}@${{ secrets.HOST }} 'rm -r ${{ secrets.SCORES_DIR }} && mkdir -p ${{ secrets.SCORES_DIR }} && tar -xvf /home/${{ secrets.USER }}/scores.tar.gz -C ${{ secrets.SCORES_DIR }}'

    - name: Update database
      run: |
        python publish.py https://www.mymusichere.me/scores/publish
